/* FONT - REDACTION 35 */
@font-face {
    font-family: 'Redaction';
    src: url('/fonts/Redaction_35-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

/* UNIVERSAL STYLES */

h1 {
    font-family: 'Redaction', 'Climate Crisis', sans-serif;
    font-size: 50px;
    padding: 10px;
  }

h2 {
  font-family: 'Redaction', sans-serif;
  font-size: 30px;
}

h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  body, html {
    cursor: url('/images/cursor.png'), auto;
  }

  * {
    cursor: inherit;
  }

  .site-container {
    max-width: 100%
  }

  /* MAKE SURE THIS EVEN WORKS */
  .container.text-center{
    max-width: 100%;
  }

/* SKIP LINKS STYLES */
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }
  .skip-links a:focus{
    top: 0;
  }

/* MOBILE NAV STYLES */
.container-fluid {
    width: 100%;
    padding-top: 12px;
    margin: 0 auto;
  }

/* hamburger */
.navbar {
    --bs-navbar-toggler-border-color: white;
  }

  .navbar-toggler {
    margin-left: auto;
  }

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.offcanvas {
    background-color: #0019F9; 
    --bs-offcanvas-padding-x: 2em;
    --bs-offcanvas-padding-y: 1.5rem;
  }

/* nav links */
  .offcanvas .nav-link {
    font-size: 20px;
    font-weight: bold; 
    color: #FFFFFF;
  }

/* MOBILE HOME PAGE STYLES */

/* trevs logo */
.main-content-image {
  display: block;
  max-width: 100%;
  margin-top: 150px;
  padding: 0;
  height: auto; 
}

/* jumping arrow */
.jumping-svg {
  display: block;
  margin-top: 250px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  animation: jump 2s infinite;
}

/* jumping arrow animation */
@keyframes jump {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

/* Welcome text*/

.text-with-images p {
  text-align: center;
  font-weight: bold;
  font-size: 40px; 
  padding: 25px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  line-height: 1.5;
}

.text-with-images img {
  vertical-align: middle;
  width: 71px;
  height: auto;
}

.keyboard-container {
  text-align: center;
  position: relative; 
  z-index: 10; 
}

.keyboard-image {
  display: block;
  margin: 0 auto;
  margin-bottom: -20px;
  width: 190px;
  height: auto;
  position: relative;
}

/* MOBILE ABOUT PAGE STYLES */
/* photo/ilustration */
.bio-photo {
  width: 250px; 
  height: 250px; 
  border-radius: 50%; 
  object-fit: cover; 
  display: block;
  margin: 10px auto; 
  box-shadow: 0 0 10px rgba(0,0,0,0.8); 
}


/* bio */
.about-section {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.about-section p, .about-section h2 {
  font-weight: bold;
  margin-bottom: 0px; 
  line-height: 1.5;
}

.about-section .trevs-logo {
  font-family: "Moirai One", system-ui; 
  font-size: 60px;
  line-height: 1.2; 
}

.about-section .about-description {
  font-size: 20px; 
}

/* skills */

.skills {
  background-color: hsl(0, 0%, 91%);
  margin-bottom: 0px;
}

.slider img {
  width: 100px;
  height: 100px;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  height: auto;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-bottom: 0px;
  padding-top: 40px;
  background-color: hsl(0, 0%, 91%);
  padding-bottom: 30px;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}


/* MOBILE WORK PAGE STYLES*/
/* work cards */
.card {
  position: relative; 
  align-items: center;
  background: #FFFFFF; 
  margin: 40px;
  border: none;
  border-radius: 20px; 
  padding: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
}

 .card-image img {
  display: block;
  max-width: 95%;
  height: auto;
} 

.card-text {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: normal;
}

.card p {
  line-height: 1.2;
  margin-top: 10px;
}

/* project buttons */
.card-button {
  display: block; 
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  line-height: 55px;
  font-weight: 500;
  font-size: 18px;
  width: 140px; 
  height: 55px;
  background: #022BFF;
  color: white;
  border: none; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer; 
  text-align: center;
}

/* MOBILE WEB DESIGN GALLERY PAGE STYLES */
.gallery-card {
  position: relative;
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
  min-height: 300px;
}

.gallery-card-image {
  width: 100%;
  min-height: 300px;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

/* card animation / effect */
.gallery-card:hover .gallery-card-image {
  transform: scale(1.05); 
}

/* overlay styles */
.gallery-card-overlay {
  position: absolute;
  left: 10px;
  top: 30px;
  right: 30px;
  bottom: 0;
  backdrop-filter: blur(20px);
  /* fallback option */
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

/* overlay text */
.gallery-card-content {
  text-align: left;
  color: white;
  font-weight: medium;
}

.gallery-card-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.gallery-card-link {
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
}

.gallery-card-link:hover,
.gallery-card-link:focus {
  text-decoration: underline; 
  color: inherit;
}

/* MOBILE PROCESS PAGE STYLES */
 /* process cards */
 .process h1 {
  padding: 10px;
 }

 .process-steps {
  display: block; 
}

.process-step {
  margin: 20px; 
  padding: 15px; 
  border: 1px solid #010101;
  border-radius: 8px; 
  background-color: #fff; 
  position: relative;
  text-align: left;
}

.number-box {
  display:inline-block;
  top: 10px; 
  left: 10px;
  width: 50px;
  height: 50px; 
  color: #010101;
  justify-content: left;
  align-items: start;
  font-size: 45px;
  overflow: hidden;
  font-family: 'Redaction', sans-serif;
}

.step-content h3 {
  font-size: 20px; 
  margin: 0.5em 0;
}

.step-content p {
  font-size: 16px; 
}

/* MOBILE CONTACT PAGE STYLES */
/* Contact Header Styles */
.contact-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header h1 {
  margin: 15px; 
}

.contact-image {
  display: none;
}

/* Contact Form Card Styles */
.contact-form-card {
  background: #FFFFFF;
  margin: 40px auto;
  margin-top: 5px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin: 5px;
}

.contact-form label {
  display: block;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: none; 
  border-bottom: 1px solid #010101;
  border-radius: 0;
  box-sizing: border-box;
}

/* button connect */
.btn-connect {
  background-color: #022BFF;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-connect:hover {
  background-color: #021BDF; /* Darker blue on hover */
}

/* MOBILE FAQ PAGE STYLES */
.container-faq img{
  display: none;
}
.container-faq {
  display: block;
  margin: 20px;
  max-width: 100%; /* Make sure the container does not exceed 100% width */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.accordion-button:not(.collapsed) {
  background-color: rgb(238, 238, 238);
}

.accordion-button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.accordion-body {
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}




/* MOBILE FOOTER STYLES */
.footer {
  position: relative;
  width: 100%;
  background-color: #010101;
  color: white;
  padding: 20px 0;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/* develop now link*/
.develop-now {
  padding-bottom: 25px;
  padding-top: 20px;
}

.develop-now h1{
    font-family: 'Redaction', 'Climate Crisis', sans-serif;
}

.develop-now-link {
  color: inherit;
  text-decoration: none;
  font-size: 60px;
}

.develop-now-link:hover,
.develop-now-link:focus {
text-decoration: none; 
color: inherit; 
}

/* contact information */

.contact-info .contact-link {
  color: inherit;
  text-decoration: none; 
}

.contact-info .contact-link:hover, .contact-info .contact-link:focus {
  text-decoration: underline; 
}

.footer .contact-info {
  margin-bottom: 20px;
  line-height: 2;
}

.footer .contact-info strong {
display: block;
font-size: 18px; 
}

/* secondary info */
.footer .contact-info .light {
display: block;
font-weight: 200; 
font-size: 16px;
}


.footer .social-icons a {
  margin: 0 10px;
}

/* copyright section */
.footer .copy-right {
  border-top: 1px solid #fff;
  padding-top: 20px;
  margin-top: 20px;
}

.copy-right {
  font-size: 12px;
}

.container.text-center, .develop-now, .contact-info, .social-icons, .copy-right {
  text-align: center;
}

/* DESKTOP STYLES*/
@media screen and (min-width: 768px) {
  /* NAV HERE */

  /* HOME PAGE */
  .main-content-image {
    margin-top: 50px;
}
.jumping-svg {
  margin-top: 45px;
}

.text-with-images p {
  font-size: 80px;
  margin-bottom: 20px;
}

.text-with-images img {
width: 138px;
}

.keyboard-image {
  display: none;
}

/* ABOUT PAGE */
.about-main {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  text-align: left;
  margin-bottom: 30px;
}

.about-section {
  margin-left: 0px;
  margin-top: 50px;
  margin-right: 80px;
  margin-right: 100px;
  text-align: left;
}

.about-main .profile-photo,
.about-main .about-section {
  flex: 1; 
  padding: 10px; 
  margin-left: 0px;
  margin-right: 100px;
}

.about-main .bio-photo {
  max-width: 100%; 
  height: auto;
  border-radius: 50%; 
}

.bio-photo {
  margin-left: 300px;
}

 /* WORK PAGE */
 .cards-container {
  display: flex; /* Use flexbox to lay out children in a row */
  justify-content: center; /* Center cards in the container */
  gap: 20px; /* Space between cards */
}

.card {
  flex: 1; /* Flex children grow and shrink as needed */
  max-width: calc(50% - 10px); /* Half width minus the gap */
  margin-bottom: 0; /* Remove margin between cards on desktop */
}

/* Ensure that images don't stretch too big on larger screens */
.card-content img {
  max-width: 300px; /* Max width for images */
  margin-left: auto; /* Center image horizontally */
  margin-right: auto; /* Center image horizontally */
}

/* PROJECT PAGE */
.gallery-card-title {
  font-size: 80px;
  margin-bottom: 0px;
}

/*  PROCESS PAGE */
.process {
font-size: 85px;
padding-left: 50px;
text-align: left;
}

.process-steps{
  margin-left: 50px;
  margin-right: 50px;
}

/* CONTACT PAGE */
.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.contact-header h1 {
  font-size: 80px;
  margin-bottom: 0px;
}

.contact-form-card {
  max-width: 800px; 
  margin: 10px auto; 
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
  margin-bottom: 30px;
}

.btn-connect {
  width: auto; 
  padding: 15px 30px; 
}

/* FAQ PAGE */


.container-faq h1 {
  font-size: 100px;
}

.accordion {
  width: 100%;
  max-width: 1200px;
  align-items: center;
}



/* FOOTER */
.develop-now-link {
  font-size: 100px;
}

}

